<nav class="navbar">

    <div class="brand">
        <span class="brand-icon">🏆</span>
        <span>CFP Bubble Game</span>
    </div>

    <div class="nav-links">

        <a class="nav-link active" [routerLink]="['/create']" routerLinkActive="active">
            <mat-icon>add_circle</mat-icon>
            Create Bubble
        </a>

        <a class="nav-link" routerLink="/leaderboard" routerLinkActive="active">
            <mat-icon>emoji_events</mat-icon>
            Leaderboard
        </a>

        <a class="nav-link" routerLink="/groups" routerLinkActive="active">
            <mat-icon>groups</mat-icon>
            Groups
        </a>

        <a class="nav-link" [routerLink]="['/my-bubbles']" routerLinkActive="active">
            <mat-icon>folder</mat-icon>
            My Bubbles
        </a>

    </div>

</nav>