.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;
  padding: 2rem;
  background-color: #f1f5f9;
  border-radius: 1rem;
}

mat-form-field {
  width: 15.625rem;
}

button {
  height: 3.5rem;
}

img{
    max-height: 200px;
}